.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(180, 127, 233);
    border-radius: 20px;
    /* background-color: rgb(201, 167, 233); */
    background: linear-gradient(90deg,
                #ff6a00,
                #ee0979,
                #8e2de2,
                #4a00e0);
    height:500px;
    width: 600px;
}
h2{
    font-size: 40px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
}
.main-div button{
    font-size: 20px;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #ad70ee; */
    cursor: pointer;
    transition: 0.25s;
    margin: 10px;
    /* color: white; */
}
.main-div button :hover{
    color: black;
}
.increase-btn{
    color: green;
    background-color: #c0e9c6;
}
.increase-btn :hover{
    background-color: #5cc09f;
    
}
.decrease-btn{
    color: red;
    background-color: #f1d5d9;
}
.reset-btn{
    color: #0000ff;
    background-color: #f0f7d5;
}